.amount {
  /* border: 1px solid gray; */
  width: 20rem;
  height: 3rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}

.amount input {
  border: none;
  font-size: 1.2rem;
  outline: none;
  width: auto;
  margin: 10px;
  margin-left: 12px;
  font-weight: 100;
}

.amount i {
  position: relative;
  float: left;
  margin: 12px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.currency-input {
  flex: 0.8 auto;
}

.search__icon {
  position: relative;
  float: right;
  padding: 3px;
  cursor: pointer;
  background: greenyellow;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.amount label {
  margin: 12px;
}
